h1{
    color: blueviolet;
}table, th, td {
    border: 1px dotted black;
    border-collapse: collapse;
  }
table{
border-bottom: 1px dashed red;
background-color: yellow;
}
table th{
    color: red;
    text-transform: uppercase;
    border: none;
    text-align: center;
}
table th span{
font-size: 24px;
font-weight: bold;
}
